
/* CSS reset 
	(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}



/* General styles 
	(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #f15a29;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	-webkit-font-smoothing:antialiased;
}


/* Header styles 
	(all the styles inside the < header > or < nav > tags) 
*/

head{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	
}


/* Navigation Section */
.top-navigation {
	position:fixed;
	width: 100%;
	z-index: 9999;
	

}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;

}

.top-navigation .links {
	float: left;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	color: black;
	font-weight: 300px;
	font-size : 17px;
	margin-top: 23px;
	margin-left: 1.563rem;
	word-spacing: 2rem;
	-webkit-font-smoothing: antialiased;
}

ul > a {
	text-decoration:none;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
	font-weight: 500px;
	font-family: "Open Sans", "Helvetica   Neue", sans-serif;
}


.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}



/* Content styles 
	(all the styles inside the < sections > or < aside > tags)
*/

.introduction {
	background-image: url(http://i.imgur.com/BAgnp5j.jpg);
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction h1{
	color: gray;
	margin-top: 15rem;
	text-align: right;
	font-weight:600;
	font-size: 30px;
	line-height: 50px;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
}

#follow me{
	left: 50%;
	margin-left:-129px;
	text-decoration: none;
}



.button.gray {
	border: 2px solid #7ed321;
	color: #454842;
}

.button{
	border-radius: 60px;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-size: 20px;
	line-height: 46px;
	padding: 0 40px;
	background: #D2B0B0;
	display: inline-block;
	cursor:pointer;
	position:relative;
	transition: .2s all linear;
}


/* Footer styles 
	(all the styles inside the < footer > tag)
*/
.footer{
	background-color: #f15a29;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;

}

.footer hr{
	border: 0;
	border-top: 1px solid white;
}

.footer h2{
	color: gray;
	margin-top: 15px;
}

.social .icons >li{
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}

span a{
	text-decoration: none;
	color: gray;
}

span {
    text-align: center;
 	margin: 40px;

}

/* Responsive styles 
	(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/