
/* CSS reset 
	(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}



/* General styles 
	(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: black;
	font-family:"Helvetica Neue",Helvetica,sans-serif;
	-webkit-font-smoothing:antialiased;
}


/* Header styles 
	(all the styles inside the < header > or < nav > tags) 
*/

head{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	
}


/* Navigation Section */
.top-navigation {
	width: 86%;
	margin: 0 auto;
	position: relative;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;

}

.top-navigation .links {
	float: left;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	color: #838994;
	font-size : 17px;
	margin-top: 23px;
	font-weight: 300px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 20px;
	font-size: 20px;
	font-weight: 500px;
}


.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}



/* Content styles 
	(all the styles inside the < sections > or < aside > tags)
*/

.introduction {
	background-image: url(http://i.imgur.com/BAgnp5j.jpg);
	background-position: center bottom;
	background-repeat: no repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}

.introduction h1{
	color: gray;
	margin-top: 15rem;
	text-align: right;
	font-weight:600;
	font-size: 30px;
	line-height: 50px;
	font-family:"Helvetica Neue",Helvetica,sans-serif;


}
/* Footer styles 
	(all the styles inside the < footer > tag)
*/
.footer{
	background-color: #D8A1D1;
	overflow: auto;
	padding-bottom: 9.375rem;
	text-align: center;


}

/* Responsive styles 
	(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/